# Semana 03
Mallqui Salvador James Eddy

# Temas
1. Colección de datos
2. Estructuras decisivas y Estructura repetitivas
3. Claves y Objetos
4. Funciones

# 1. Colecciones

In [8]:
# 1.1. Listas
# Es una colección de elementos que puede ser ordenada, modificada, etc..
# Se identifica por los corchetes
# Ejemplo
aula = ['Bernaola','Chipana','Gomez','Navarro']
print(aula)

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [10]:
# Tambien se puede imprimir con solo mencionar la lista
aula

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [16]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])
print(aula[2])
print(aula[3])

Bernaola
Chavez
Gomez
Navarro

In [14]:
# Puedo asignar un valor a una posición de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [18]:
# Mostramos como quedó la lista
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro']

In [20]:
# Para agregar un elemento utilizamos append
aula.append("Hermitaño")
aula.append("Gomez")
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [22]:
# Para eliminar elementos utilizamos [remove]
aula.remove("Bernaola")
aula

['Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [24]:
# Si hubiera varios elementos de valores iguales se elimina la
# primera coincidencia
aula.remove("Gomez")
aula

['Chavez', 'Navarro', 'Hermitaño', 'Gomez']

In [26]:
# Para obtener el tamaño utilizamos len()
len(aula)

4

In [30]:
# Para recorres podemos utilizar una estructura repetitiva
for alumno in aula:
    print(alumno)

Chavez
Navarro
Hermitaño
Gomez

In [32]:
# Para invertir la lista utilizamos reverse()
# Invertir NO significa ordenar en forma descendente sin invertir
# la lista
aula.reverse()
aula

['Gomez', 'Hermitaño', 'Navarro', 'Chavez']

In [34]:
#Para ordenas una lista utilizamos sort()
aula.sort()
aula

['Chavez', 'Gomez', 'Hermitaño', 'Navarro']

In [36]:
# 1.2 Tuplas
# Es una colección de elementos ordenada (Ordenado significa 
# que tiene un indice) que no se pueden modificar, es inalterable
# no se pueden agregar elementos ni eliminar
# se identifica por los parentensis
tupla_aula = ('Bernola','Chipana','Gomez','Navarro')
tupla_aula

('Bernola', 'Chipana', 'Gomez', 'Navarro')

In [40]:
# Se puede extraer un elemento por su posición
tupla_aula[2]

'Gomez'

In [42]:
# Para saber la cantidad de elementos de una tupla utilizamos len()
len(tupla_aula)

4

In [70]:
# 1.3 Conjuntos
# Es una colección de elementos que no está ordenado
# (significa que no tiene un indice)
conjunto_aula = {'Bernaola','Chipana','Gomez','Navarro'}
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro'}

In [72]:
# Se puede recorrer utilizando una estructura repetitiva
# Ejemplo: for
for alumno in conjunto_aula:
    print(alumno)

Gomez
Chipana
Bernaola
Navarro

In [74]:
# Observación: No se puede acceder por posición pues no considera
# indexacion
# Por ejemplo
conjunto_aula[2]

TypeError: 'set' object is not subscriptable

In [76]:
# Para saber la cnatidad de elementos utilizamos len()
len(conjunto_aula)

4

In [78]:
# Para agregar utilizamos la función add()
conjunto_aula.add("Palomino")
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro', 'Palomino'}

In [80]:
conjunto_aula.remove("Chipana")
conjunto_aula

{'Bernaola', 'Gomez', 'Navarro', 'Palomino'}

In [82]:
# 1.4. Diccionarios 
#Es una colección de elementos, que están indexados, 
#no estan ordenados y se pueden modificar
#Son escritos entre llaves y estan formados por pares de elementos
#INDICE: VALOR
diccionario_aula = {2:'Bernaola','1':'Chipana','dos':'Gomez','3':'Navarro','0':'Palomino'}
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino'}

In [84]:
# Del Diccionario: diccionario_aula extraer el valor cuyo indice sea cero
diccionario_aula['0']

'Palomino'

In [86]:
diccionario_aula[2]

'Bernaola'

In [88]:
diccionario_aula['dos']

'Gomez'

In [90]:
# Para añadir un par de elementos al diccionario hacemos:
diccionario_aula['20'] = "Vilca"
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [92]:
# Para eliminar un valor se utiliza pop()
# Por ejemplo, eliminar el elemento de indice dos, Ejemplo: para eliminar a
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [94]:
# Tambien se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Chipana', '3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [96]:
# Para recorrer todos los elementos podemos utilizar for
# En este ejemplo devuelve los indices
for indice in diccionario_aula:
    print(indice)

1
3
0
20

In [98]:
# Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice, valor)

1 Chipana
3 Navarro
0 Palomino
20 Vilca

In [102]:
lista_apellidos = ['BERNAL','BERNAOLA','CABALLERO','CALDERON','CARRASCO','CENTENO', 'CHALQUE', 'CHAVEZ', 'CONDORI', 'CRUZ', 'PALACIOS', 'PALOMINO', 'QUISPE', 'RAMOS', 'RODAS', 'SILVERA', 'TALAVERA', 'TINEO', 'VICTORIO', 'VILCA', 'ZEA']
lista_apellidos

['BERNAL',
 'BERNAOLA',
 'CABALLERO',
 'CALDERON',
 'CARRASCO',
 'CENTENO',
 'CHALQUE',
 'CHAVEZ',
 'CONDORI',
 'CRUZ',
 'PALACIOS',
 'PALOMINO',
 'QUISPE',
 'RAMOS',
 'RODAS',
 'SILVERA',
 'TALAVERA',
 'TINEO',
 'VICTORIO',
 'VILCA',
 'ZEA']

In [ ]:
apellido = input()
if apellido in lista_apellidos:
    print("se encuentre en la lista")
else:
    print("no se encuentra en la lista")